<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" height="93" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/1_01.gif" width="140" height="93" alt="" /></td>
    <td><img src="images/1_02.gif" width="86" height="93" alt="" /></td>
    <td><img src="images/1_03.gif" width="80" height="93" alt="" /></td>
    <td><img src="images/1_04.gif" width="160" height="93" alt="" /></td>
    <td><img src="images/1_05.gif" width="77" height="93" alt="" /></td>
    <td><img src="images/1_06.gif" width="91" height="93" alt="" /></td>
    <td><img src="images/1_07.gif" width="126" height="93" alt="" /></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>滚动公告</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  
  <tr>
    <td><img src="images/2_02.gif" width="760" height="81" alt="" /></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="459" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="57"><img src="images/home/ser1.gif" width="57" height="37" /></td>
        <td width="90%" background="images/home/ser2.gif">
          <form id="form1" name="form1" method="post" action="">
              <select name="select">
                <option value="图片">图片</option>
                <option value="新闻">新闻</option>
                <option value="音乐">音乐</option>
              </select>
            <input name="textfield" type="text" size="32" />
            <input type="submit" name="Submit" value="搜索" />
          </form>
          </td>
        <td width="37"><img src="images/home/ser3.gif" width="37" height="37" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="images/home/ac1.gif" width="459" height="12" /></td>
        </tr>
        <tr>
          <td id="Quick" background="images/home/ac2.gif"><p><span class="Boo">粉丝热门</span> 娱乐·星光快线·电影<br />
              <span class="Boo">粉丝头条</span><br />
              <span class="Boo">资讯中心</span><br />
              <span class="Boo">粉丝电影</span><br />
              <span class="Boo">粉丝音乐</span><br />
              <span class="Boo">粉丝八卦</span><br />
              <span class="Boo">粉丝探班</span></p>
          </td>
        </tr>
        <tr>
          <td><img src="images/home/ac3.gif" width="459" height="42" /></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" background="images/home/ac4.gif"><img src="images/ad/ad01.jpg" width="436" height="162" /></td>
        </tr>
        <tr>
          <td><img src="images/home/ac5.gif" width="459" height="15" /></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #C470E0">
        <tr valign="top">
          <td width="17%" rowspan="2"><img src="images/img/face1.jpg" width="74" height="76" class="imgFace1" /></td>
          <td width="33%"><img src="images/home/Jiaodian.gif" width="150" height="21" /></td>
          <td width="17%" rowspan="2"><img src="images/img/face1.jpg" width="74" height="76" class="imgFace1" /></td>
          <td width="33%"><img src="images/home/Jiaodian.gif" width="150" height="21" /></td>
        </tr>
        <tr valign="top">
          <td class="Note">简介</td>
          <td class="Note">简介</td>
        </tr>
      </table></td>
    <td width="301" valign="top"><form id="form3" name="form3" method="post" action=""><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="85"><img src="images/home/login1.gif" width="85" height="71" /></td>
        <td background="images/home/login2.gif" bgcolor="#CD3993">用户名：<input name="textfield2" type="text" size="10" />
          <input type="image" src="images/home/login_but1.gif" name="Submit3" value="提交" />
          <br />
          密 &nbsp;码： 
          <input name="textfield22" type="password" size="10" /> <a href="#"><img src="images/home/login_but2.gif" width="52" height="19" border="0" align="absmiddle" /></a></td>
        </tr>
    </table></form>
      <table width="100%" border="0" cellspacing="0" cellpadding="4" style="border:1px solid #919191;margin-bottom:3px;">
        <tr>
          <td align="center"><img src="images/img/vedio.jpg" width="281" height="169" class="imgFace1" /></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/home/vedio1.gif" width="51" height="22" /> <img src="images/home/vedio2.gif" width="19" height="21" /><img src="images/home/vedio3.gif" width="19" height="21" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/home/vedio4.gif" width="70" height="16" /><img src="images/home/vedio5.gif" width="21" height="16" /></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="46" background="images/home/jingwuan.gif">&nbsp;</td>
      </tr>
      <tr>
        <td background="images/home/jingwuan_bg.gif" style="padding:0 12px 4px 18px;"><p>精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题<br />
          精选文章标题</p></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="2" cellspacing="0">
  <tr>
    <td><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td width="25%" bgcolor="#ececec"><span class="Boo">院线:</span>提名奥斯卡<br />
      <span class="Boo">票房:</span>提名奥斯卡</td>
    <td width="25%" bgcolor="#ececec"><span class="Boo">经纪公司:</span>提名奥斯卡<br />
      <span class="Boo">新片发行:</span>提名奥斯卡</td>
    <td width="25%" bgcolor="#ececec"><span class="Boo">最新演出:</span>提名奥斯卡<br />
      <span class="Boo">最新活动:</span>提名奥斯卡</td>
    <td width="25%" bgcolor="#ececec"><span class="Boo">娱乐大腕:</span>提名奥斯卡<br />
      <span class="Boo">新星推荐:</span>提名奥斯卡</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="286" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
      <tr>
        <td bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_1.gif" width="279" height="24" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
            <td class="Note">新闻工作减轻膛右派<br />
              新闻工作减轻膛右派<br />
              新闻工作减轻膛右派<br />
              新闻工作减轻膛右派</td>
          </tr>
          <tr>
            <td colspan="2" class="Note">新闻工作减轻膛右派<br />
              新闻工作减轻膛右派<br />
新闻工作减轻膛右派<br />
新闻工作减轻膛右派 </td>
            </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_3.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table></td>
    <td width="286" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
      <tr>
        <td bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_2.gif" width="279" height="24" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
              <td class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派</td>
            </tr>
            <tr>
              <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派 </td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
          </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_4.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table></td>
    <td width="188" valign="top" background="#F7DD77"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/home/toupiao.gif" width="188" height="19" /></td>
      </tr>
    </table>
	<form id="form2" name="form2" method="post" action="">
      <table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#F7DD77">
        <tr>
          <td width="50%" align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
              <input name="radiobutton" type="radio" value="radiobutton" checked="checked" />          </td>
          <td width="50%" align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
        </tr>
        <tr>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
        </tr>
        <tr>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
        </tr>
        <tr>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
          <td align="center"><img src="images/img/face3.jpg" width="85" height="65" /><br />
            <input name="radiobutton" type="radio" value="radiobutton" /></td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="52" align="center" valign="bottom" background="images/home/toupiao_bot.gif"><input type="image" src="images/home/toupiao_but1.gif" name="Submit2" value="提交" /> &nbsp;&nbsp;<a href="#"><img src="images/home/toupiao_but2.gif" width="80" height="17" border="0" /></a></td>
        </tr>
      </table>
	</form>
    </td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/2_02.gif" width="760" height="81" alt="" /></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="286" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
      <tr>
        <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_5.gif" width="279" height="24" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
              <td class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派</td>
            </tr>
            <tr>
              <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派 </td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
          </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_7.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_9.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table></td>
    <td width="286" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
      <tr>
        <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_6.gif" width="279" height="24" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
              <td class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派</td>
            </tr>
            <tr>
              <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派<br />
                新闻工作减轻膛右派 </td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
          </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_8.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D9D9D9">
        <tr>
          <td height="26" bgcolor="#FFFFFF"><a href="#"><img src="images/home/title_10.gif" width="279" height="24" border="0" /></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle" class="imgFace2"><img src="images/img/face4.jpg" width="58" height="56" /></td>
                <td class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派</td>
              </tr>
              <tr>
                <td colspan="2" class="Note">新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派<br />
                  新闻工作减轻膛右派 </td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
            </table></td>
        </tr>
      </table></td>
    <td width="188" valign="top" bgcolor="#E8E6FF"><table width="100%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td height="150" align="center"><a href="#"><img src="images/img/face5.jpg" width="134" height="123" border="0" /></a></td>
      </tr>
      <tr>
        <td align="center">新片拍摄现场遭恐怖袭击<br />
          顺佣有人人人人</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="Boo">&nbsp;&nbsp;&nbsp;专题</td>
        </tr>
        <tr>
          <td class="Note">· 磊在在有 <br />
          · 磊在在有 <br />
          · 磊在在有 </td>
        </tr>
        <tr>
          <td class="Boo"> &nbsp;&nbsp;&nbsp;最热</td>
        </tr>
        <tr>
          <td class="Note">· 磊在在有 <br />
          · 磊在在有 <br />
          · 
          磊在在有 </td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="28" class="Boo" style="border-top:1px solid #6D64DC;border-bottom:1px solid #6D64DC;">&nbsp;&nbsp;&nbsp;王菲：讲述一个女人的故事</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="4" cellspacing="0" style="border-bottom:3px solid #6D64DC;">
  <tr>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
    呖swaowe</td>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
呖swaowe</td>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
呖swaowe</td>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
呖swaowe</td>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
呖swaowe</td>
    <td align="center"><img src="images/img/face2.jpg" width="93" height="93" class="imgFace1" /><br />
呖swaowe</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="8" cellspacing="0">
  <tr>
    <td align="center">粉丝网版权所有 2005 <br />
    <img src="images/gs.gif" width="35" height="43" /></td>
  </tr>
</table>
</body>
</html>
